<section>
    <div class="container" id="alertProjets">
        <div class="alert alert-danger" role="alert">Oups... L'écran semble petit, veuillez utiliser un écran supérieur à 450px !</div>
    </div>

    <div class="container" id="projetsRecherche">
        <div class="jumbotron card card-image" id="projets_jumbotron">
            <div class="text-white text-center py-5 px-4">
                <div>
                    <p class="mx-5 mb-5">{{message}}</p>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
        <div class="controller">
            <input type="search" placeholder="Rechercher un projet" class="form-control" ng-model="query">
            <table class="table table-hover table-condensed shadow">
                <thead>
                    <th>Nom</th>
                    <th>Établissement</th>
                    <th>Domaines</th>
                    <th>Description</th>
                </thead>
                <tfoot>
                    <th>Nom</th>
                    <th>Établissement</th>
                    <th>Domaines</th>
                    <th>Description</th>
                </tfoot>
                <tbody>
                    <tr ng-repeat="stuff in projets | filter: query">
                        <td>{{stuff.Titre}}</td>
                        <td>{{stuff.Etablissement}}</td>
                        <td>{{stuff.Domaines}}</td>
                        <td>{{stuff.Description}}</td>
                    </tr>
                </tbody>
            </table>           	 
        </div>
    </div>	        
</section>